@import url(reset.css);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    background: url(../assets/imgs/wall.png);
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5.6rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: .4rem solid #ffd700;
}

.menu > div{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
gap: .5rem;
}
div>h2:first-of-type  {
    color: #ff0000;
}
h2#live{
    color: #ffffff;
}

.menu-lives > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-lives img{
    max-height: 70px;
}

.painel {
    margin-top: 1rem;
    border: 1px solid #ff0000;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 700px;
    width: 700px;
}
/* Para telas menores que 750px */
@media (max-width: 750px) {
    .painel {
        height: 600px;
        width: 600px;
    }
    h2 {
        font-size: 1.3rem;
    }
}

/* Para telas menores que 600px */
@media (max-width: 650px)   {
    .painel {
        height: 500px;
        width: 500px;
    } 
    h2 {
        font-size: 1.1rem;
    }
}

/* Para telas menores que 500px */
@media (max-width: 500px) {
    .painel {
        height: 300px;
        width: 300px;
    }
  
}

.painel-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.square {
    border: 1px solid #000;
    background-color: #b63628;
}

.enemy {
    background: #ff0000 url(../assets/imgs/ralph.gif) top/cover ;/
}